body { background: #28a810; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-email-0 { color: #cfcebf; font-size: 21px; margin-bottom: 5px; }
.block-cache-1 { color: #2d0088; font-size: 17px; margin-bottom: 5px; }
.block-shipping-2 { color: #ff3f9; font-size: 17px; margin-bottom: 5px; }
.block-invoice-3 { color: #24da6b; font-size: 15px; margin-bottom: 5px; }
.block-search-4 { color: #835b8b; font-size: 18px; margin-bottom: 5px; }
.block-email-5 { color: #911c55; font-size: 17px; margin-bottom: 5px; }
.block-product-6 { color: #92712d; font-size: 16px; margin-bottom: 5px; }
.block-token-7 { color: #775ccc; font-size: 16px; margin-bottom: 5px; }
.block-invoice-8 { color: #c2b215; font-size: 16px; margin-bottom: 5px; }
.block-user-9 { color: #9eb75f; font-size: 13px; margin-bottom: 5px; }
.block-helper-10 { color: #c3e3; font-size: 17px; margin-bottom: 5px; }
.block-shipping-11 { color: #37e1dd; font-size: 12px; margin-bottom: 5px; }